<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>sydlawrence.tomahawk</string>
	<key>connections</key>
	<dict>
		<key>09690A18-3C0D-4B7D-A8B1-FC13BA289F42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E7E31C0-F552-4D7D-B8BC-6D2365639725</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4E8455A2-28B2-45B2-8044-2DA4F31265A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64263954-8DBB-4585-B3DA-7569AD6781C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>740DB62E-BE08-4E85-B75C-E7DD95C6D92A</key>
		<array/>
		<key>76203F71-C3D8-4B9B-B351-259902BC0189</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAC7DC52-C000-4FF7-9D38-145039903119</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9F8EDDA1-A86A-42B3-9BA7-2457A359D7BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5EE7276-D4D5-450B-8EA5-6149E8A90C55</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A9F4E077-2490-45B9-9984-C0B7EBF0B40F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAC7DC52-C000-4FF7-9D38-145039903119</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C70ADD12-9653-49C0-9B37-12C72DFC3CEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>481F38D8-66BE-43EB-9D70-6D55AB56F0D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Syd Lawrence</string>
	<key>description</key>
	<string>Interact with Tomahawk</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tomahawk</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>station</string>
				<key>subtext</key>
				<string>New Tomahawk Station</string>
				<key>text</key>
				<string>Station</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C70ADD12-9653-49C0-9B37-12C72DFC3CEC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>

on alfred_script(q)
	do shell script "open 'tomahawk://station/create/?type=echonest&amp;title=" &amp; q &amp; "&amp;artist=" &amp; q &amp; "'"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>481F38D8-66BE-43EB-9D70-6D55AB56F0D3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>/Applications/Tomahawk.app/Contents/MacOS/Tomahawk --next</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B5EE7276-D4D5-450B-8EA5-6149E8A90C55</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>next</string>
				<key>subtext</key>
				<string>Skip to the next track in Tomahawk</string>
				<key>text</key>
				<string>Next Track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F8EDDA1-A86A-42B3-9BA7-2457A359D7BA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	do shell script "open '" &amp; q &amp; "'"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6E7E31C0-F552-4D7D-B8BC-6D2365639725</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>play</string>
				<key>subtext</key>
				<string>Tomahawk Toggle Play/Pause</string>
				<key>text</key>
				<string>Play/Pause Tomahawk</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A9F4E077-2490-45B9-9984-C0B7EBF0B40F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>th</string>
				<key>runningsubtext</key>
				<string>Searching for results ...</string>
				<key>script</key>
				<string>php -f search.php -- "{query}"</string>
				<key>subtext</key>
				<string>Search Tomahawk for results matching your query</string>
				<key>title</key>
				<string>Search Tomahawk</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>09690A18-3C0D-4B7D-A8B1-FC13BA289F42</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>/Applications/Tomahawk.app/Contents/MacOS/Tomahawk --prev</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>64263954-8DBB-4585-B3DA-7569AD6781C0</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pause</string>
				<key>subtext</key>
				<string>Pause Tomahawk</string>
				<key>text</key>
				<string>Pause</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>76203F71-C3D8-4B9B-B351-259902BC0189</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>/Applications/Tomahawk.app/Contents/MacOS/Tomahawk --playpause</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CAC7DC52-C000-4FF7-9D38-145039903119</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>prev</string>
				<key>subtext</key>
				<string>Play previous track in Tomahawk</string>
				<key>text</key>
				<string>Previous Track</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4E8455A2-28B2-45B2-8044-2DA4F31265A3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tomahawk</string>
				<key>runningsubtext</key>
				<string>Grabbing current track info ...</string>
				<key>script</key>
				<string>php -f playing.php</string>
				<key>subtext</key>
				<string>View the currently playing track in Tomahawk</string>
				<key>title</key>
				<string>Now Playing</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>740DB62E-BE08-4E85-B75C-E7DD95C6D92A</string>
		</dict>
	</array>
	<key>readme</key>
	<string>th &lt;search_query&gt;
station &lt;decription&gt;
next
prev
pause</string>
	<key>uidata</key>
	<dict>
		<key>09690A18-3C0D-4B7D-A8B1-FC13BA289F42</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>481F38D8-66BE-43EB-9D70-6D55AB56F0D3</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>4E8455A2-28B2-45B2-8044-2DA4F31265A3</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>64263954-8DBB-4585-B3DA-7569AD6781C0</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>6E7E31C0-F552-4D7D-B8BC-6D2365639725</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>740DB62E-BE08-4E85-B75C-E7DD95C6D92A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>76203F71-C3D8-4B9B-B351-259902BC0189</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>9F8EDDA1-A86A-42B3-9BA7-2457A359D7BA</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>A9F4E077-2490-45B9-9984-C0B7EBF0B40F</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B5EE7276-D4D5-450B-8EA5-6149E8A90C55</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>C70ADD12-9653-49C0-9B37-12C72DFC3CEC</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>CAC7DC52-C000-4FF7-9D38-145039903119</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>jdfwarrior.tumblr.com</string>
</dict>
</plist>
